[submodule "interlude"]
	path = interlude
	url = https://Pctg-x8@github.com/Pctg-x8/interlude.git
[submodule "postludium"]
	path = postludium
	url = ssh://git@postludium.github.com/Pctg-x8/postludium.git
